<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        

        <!-- page content -->
        <div class="right_col" role="main" ng-init="init()">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Create Customer</h3>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_content">


                   
                        <form class="form-horizontal form-label-left">

						  <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">Citizen ID
	                            </label>
	                            <div class="col-md-10 col-sm-10 col-xs-12">
	                              <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="Citizen ID" ng-model="customer.citizenId">
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
		                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name Title</label>
		                        <div class="col-md-9 col-sm-9 col-xs-12">
<!-- 			                          <input type="text" class="form-control" placeholder="Number"> -->
									  <select ng-options="nameTitle as nameTitle.name for nameTitle in nameTitles"  id="heard" class="form-control" ng-model="customer.nameTitle"></select>
		                        </div>
		                    </div>
	                      </div>
	                      
		                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">First Name 
	                            </label>
	                            <div class="col-md-8 col-sm-8 col-xs-12">
	                              <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="First Name" ng-model="customer.fname">
	                            </div>
	                          </div>
	                      </div>
		                   
		                  <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">Last Name
	                            </label>
	                            <div class="col-md-8 col-sm-8 col-xs-12">
	                              <input type="text"  required="required" class="form-control col-md-7 col-xs-12" placeholder="Last Name" ng-model="customer.lname">
	                            </div>
	                          </div>
	                      </div>
                          
                          <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Date Of Birth 
	                            </label>
	                            <div class="col-md-7 col-sm-7 col-xs-12">
	                              <input  class="date-picker form-control col-md-12 col-xs-12" required="required" type="date" style="padding-right:0;" ng-model="customer.birthday">
	                            </div>
	                        </div>
	                      </div>
	                      
	                      
	                      <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Telephone
	                            </label>
	                            <div class="col-md-9 col-sm-9 col-xs-12">
	                              <input type="text"  required="required" class="form-control col-md-7 col-xs-12" placeholder="Telephone" ng-model="customer.telephone">
	                            </div>
	                          </div>
	                      </div>
	                      
	                      <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
		                      <div class="form-group">
		                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Address
		                            </label>
		                            <div class="col-md-11 col-sm-11 col-xs-12">
		                              <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="Address" ng-model="customer.address.detail">
		                            </div>
	                          </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">Province
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="province as province.name for province in provinces" ng-model="customer.address.province"  id="heard" class="form-control" ng-change="selectProvinceA()"></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">District
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="district as district.name for district in districta" ng-model="customer.address.district"  id="heard" class="form-control" ng-change="selectDistrictA()"></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">Sub-District
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="subdistrict as subdistrict.name for subdistrict in suba" ng-model="customer.address.subdistrict"  id="heard" class="form-control" ></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
		                      <div class="form-group">
		                            <label class="control-label col-md-6 col-sm-6 col-xs-12" for="first-name">Zipcode
		                            </label>
		                            <div class="col-md-6 col-sm-6 col-xs-12">
		                              <input type="text" required="required" class="form-control col-md-12 col-xs-12" placeholder="Address" ng-model="customer.address.subdistrict.zipcode">
		                            </div>
	                          </div>
	                      </div>
	                      
	                      <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
		                      <div class="form-group">
		                            <label class="control-label col-md-1 col-sm-1 col-xs-12" for="first-name">Workplace
		                            </label>
		                            <div class="col-md-11 col-sm-11 col-xs-12">
		                              <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="Address" ng-model="customer.workplace.detail">
		                            </div>
	                          </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">Province
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="province as province.name for province in provinces" ng-model="customer.workplace.province"  id="heard" class="form-control" ng-change="selectProvinceW()"></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">District
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="district as district.name for district in districtw" ng-model="customer.workplace.district"  id="heard" class="form-control" ng-change="selectDistrictW()"></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">Sub-District
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="subdistrict as subdistrict.name for subdistrict in subw" ng-model="customer.workplace.subdistrict"  id="heard" class="form-control"></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      <div class="col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
		                      <div class="form-group">
		                            <label class="control-label col-md-6 col-sm-6 col-xs-12" for="first-name">Zipcode
		                            </label>
		                            <div class="col-md-6 col-sm-6 col-xs-12">
		                              <input type="text" required="required" class="form-control col-md-12 col-xs-12" placeholder="Address" ng-model="customer.workplace.subdistrict.zipcode">
		                            </div>
	                          </div>
	                      </div>
	                      
	                      
                        </form>
                        
                        <div class="actionBar">
							<div class="msgBox">
								<div class="content">
									<a href="" class="buttonFinish  btn btn-success" ng-click="insertCustomer()">Finish</a>	
								</div>
							</div>
						</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
	  </div>
	</div>
        

   

	
  </body>
</html>