<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        

        <!-- page content -->
        <div class="right_col" role="main" ng-init="init()">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Create Employee</h3>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row">

              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  
                  <div class="x_content">


                   
                        <form class="form-horizontal form-label-left">

						  <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">Citizen ID
	                            </label>
	                            <div class="col-md-10 col-sm-10 col-xs-12">
	                              <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="Citizen ID" ng-model="employee.citizenId">
	                            </div>
	                        </div>
	                      </div>
	                      
		                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">First Name 
	                            </label>
	                            <div class="col-md-8 col-sm-8 col-xs-12">
	                              <input type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="First Name" ng-model="employee.fname">
	                            </div>
	                          </div>
	                      </div>
		                   
		                  <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="first-name">Last Name
	                            </label>
	                            <div class="col-md-8 col-sm-8 col-xs-12">
	                              <input type="text"  required="required" class="form-control col-md-7 col-xs-12" placeholder="Last Name" ng-model="employee.lname">
	                            </div>
	                          </div>
	                      </div>
                          
	                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Telephone
	                            </label>
	                            <div class="col-md-9 col-sm-9 col-xs-12">
	                              <input type="text"  required="required" class="form-control col-md-7 col-xs-12" placeholder="Telephone" ng-model="employee.telephone">
	                            </div>
	                          </div>
	                      </div>
	                      
	                      <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
	                        <div class="form-group">
	                            <label class="control-label col-md-6 col-sm-6 col-xs-12">Role
	                            </label>
	                            <div class="col-md-6 col-sm-6 col-xs-12">
	                              <select ng-options="role as role for role in roles" ng-model="employee.role"  id="heard" class="form-control"></select>
	                            </div>
	                        </div>
	                      </div>
	                      
	                      
                        </form>
                        
                        <div class="actionBar">
							<div class="msgBox">
								<div class="content">
									<a href="" class="buttonFinish  btn btn-success" ng-click="insertEmployee()">Finish</a>	
								</div>
							</div>
						</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->
	  </div>
	</div>
        

   

	
  </body>
</html>