





<!-- <nav class="navbar navbar-inverse"> -->
<!--   <div class="container-fluid"> -->
<!--     <div class="navbar-header"> -->
<!--       <a class="navbar-brand" href="">PRIOR SOLUTION</a> -->
<!--       <image src="https://media.licdn.com/dms/image/C5103AQEdw7CyQ_NugQ/profile-displayphoto-shrink_200_200/0?e=1541635200&v=beta&t=6tjNFwD9kdEdmk-EZJ6h0kbKdIdLxE24_1ktRQYDWHc" > -->
<!--     </div> -->
<!--     <ul class="nav navbar-nav" style=""> -->
<!--       <li ><a href="" ui-sref="staff.project">PROJECT</a></li> -->
<!--       <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a> -->
<!--         <ul class="dropdown-menu"> -->
<!--           <li><a href="#">Page 1-1</a></li> -->
<!--           <li><a href="#">Page 1-2</a></li> -->
<!--           <li><a href="#">Page 1-3</a></li> -->
<!--         </ul> -->
<!--       </li> -->
<!--       <li><a href="" ui-sref="staff.staff">STAFF</a></li> -->
<!--       <li><a href="" ui-sref="staff.performance">PERFORMANCE</a></li> -->
<!--       <li><a href="" ui-sref="staff.skillposition">SKILL & POSITION</a></li> -->
<!--       <li><a href="" ui-sref="staff.profile">PROFILE</a></li> -->
<!--       <li style="float:right;"><a href="" ng-click="logout()"style="float:right;">Logout</a></li> -->
<!--     </ul> -->
<!--   </div> -->
<!-- </nav> -->
























<nav class="navbar navbar-inverse" style="width:100%;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="" ui-sref="staff.project">PRIOR SOLUTION</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-controller="roleCtrl">
        <li><a href="" ui-sref="staff.project">PROJECT</a></li>
        <li ng-if="role.role=='administrator'"><a href="" ui-sref="staff.staff">STAFF</a></li> 
        <li><a href="" ui-sref="staff.performance">PERFORMANCE</a></li>
        <li ng-if="role.role=='administrator'"><a href="" ui-sref="staff.skillposition">SKILL & POSITION</a></li>
        <li><a href="" ui-sref="staff.profile">PROFILE</a></li>
<!--         <li class="dropdown"> -->
<!--           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
<!--           <ul class="dropdown-menu"> -->
<!--             <li><a href="#">Action</a></li> -->
<!--             <li><a href="#">Another action</a></li> -->
<!--             <li><a href="#">Something else here</a></li> -->
<!--             <li role="separator" class="divider"></li> -->
<!--             <li><a href="#">Separated link</a></li> -->
<!--             <li role="separator" class="divider"></li> -->
<!--             <li><a href="#">One more separated link</a></li> -->
<!--           </ul> -->
<!--         </li> -->
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="logout()">Logout</a></li>
       
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

